

.card{
    max-width:800px;
    margin: 0 auto; 
    form{
        border: 2px solid red;
        border-radius: 8px;
        padding: 15px;
    }
    &__image{
        width: 200px;
        height: 100%;
    }
    &__img{
        display: flex;
    }
    &__name{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        div{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
    input{
        width: 100%;
        padding: 10px 5px;
    }
    &__email{
        display: flex;
    }
    
}